.space_bg {
    background-image: url("space.jpg");
	background-repeat: no-repeat;
	margin-right: auto; margin-left: auto;
}

.size {

  /* letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   position: absolute; */ 
   width:75px; height:75px;

}
.space {
width:75px; height:75px;

}